[Unit]
Description=Gunicorn server for SITENAME
After=network.target

[Service]
User=USER
Group=www-data
WorkingDirectory=/home/USER/sites/SITENAME/source
EnvironmentFile=/home/USER/sites/SITENAME/environment
ExecStart=/home/USER/sites/SITENAME/virtualenv/bin/gunicorn \
    --bind unix:/tmp/SITENAME.socket \
    mywebsite.wsgi:application

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
